.passwordScreen {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--bg-widthPhone) * 1px);
    height: calc(var(--bg-heightPhone) * 1px);
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1000;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "noto sans", sans-serif;
    pointer-events: none;
    color: white;
}
.passwordScreen.open {
    display: flex;
    pointer-events: all;
}
.passwordScreen .textScreen {
    font-size: 14px;
}
.passwordScreen.open #lockScreen .stackWrapper {
    pointer-events: none !important;
}
.passwordScreen .dots {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}
.passwordScreen .dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    transition: background-color 0.2s;
    border: solid 2px rgba(255, 255, 255, 0.7);
    overflow: hidden;
}
.passwordScreen .dots .dot.active {
    background-color: rgba(255, 255, 255, 0.7);
}
#displayPasswordScreen.horizontalShaking {
    animation: horizontal-shaking 0.3s ease;
}

.passwordScreen .keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 20px;
    margin-bottom: 55px;
}
.passwordScreen .keypad button {
    all: unset;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.3s, scale 0.3s, box-shadow 0.3s, background-color 0.3s;
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.5), inset 0 0 0 rgba(255, 255, 255, 0.4);
    border: solid 2px rgba(255, 255, 255, 0.4);
    opacity: 0;
}
.passwordScreen .keypad button:active {
    transition: all 0.05s, box-shadow 0.1s !important;
    scale: 0.95;
    box-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.4), inset 0 0 0 rgba(255, 255, 255, 0.4),
        0 0 20px rgba(255, 255, 255, 0.7), inset 0 0 0 rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.6);
}
.passwordScreen .keypad button svg {
    width: 22px;
    height: 22px;
    fill: currentColor;
}

.passwordScreen .bottomBtn {
    position: absolute;
    border-radius: 50px;
    bottom: 40px;
    background-color: rgba(255, 255, 255, 0.2);
}
