#statusBar {
    position: absolute;
    display: flex;
    height: 40px;
    width: 100%;
    color: rgb(255, 255, 255);
    background: linear-gradient(to bottom, #00000050, #00000000);
    z-index: 9999;
    cursor: grab;
}
#statusBar .right,
#statusBar .left {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: flex-end;
    pointer-events: all;
    backdrop-filter: blur(0px);
    background: rgb(0, 0, 0, 0);
    z-index: 2;
    position: absolute;
    transition: backdrop-filter calc(0.6s * var(--bg-speedAnimation)), background calc(0.6s * var(--bg-speedAnimation)),
        height 0s calc(0.6s * var(--bg-speedAnimation)), width 0s calc(0.6s * var(--bg-speedAnimation));
}
#statusBar .right {
    right: 0;
}
#statusBar .left {
    justify-content: flex-start;
}
#statusBar .right .itemStatus,
#statusBar .left .itemStatus {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 7px;
    pointer-events: all;
    transition: all calc(0.6s * var(--bg-speedAnimation));
    height: fit-content;
    padding-block: 14px;
}
.itemStatus > * {
    flex: 0 0 auto;
}
#statusBar svg {
    height: 12px;
    width: 12px;
    fill: white;
}

#statusClock {
    display: flex;
    margin-left: calc(0.07px * var(--bg-widthPhone));
    font-family: "Fredoka";
    font-size: 12px;
}
#networkName {
    display: none;
    margin-left: 20px;
    font-family: "Fredoka";
    font-size: 12px;
}
#networkName2 {
    display: none;
    font-family: "Fredoka";
    font-size: 12px;
}

.status-battery {
    position: relative;
    display: flex;
    margin-right: calc(0.09px * var(--bg-widthPhone));
    width: 18px;
    height: 10px;
    background: rgba(78, 78, 78, 0.5);
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    color: rgb(42, 42, 42);
    transition: all 0.5s ease;
}
.batterySmall {
    position: absolute;
    right: 0;
    translate: 100% 0;
    width: 1px;
    height: 5px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background: white;
}
.batteryLevel {
    left: 0%;
    height: 100%;
    width: calc(100%);
    background: white;
}
.containerBattery {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 3px;
}
.batteryNum {
    display: flex;
    position: absolute;
    font-family: "gf_Roboto_Flex variant0", Helvetica;
    font-size: 9px;
    color: rgb(49, 49, 49);
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-stretch: 25%;
    font-optical-sizing: auto;
    font-variation-settings: "XTRA" 323;
    font-style: normal;
    inset: 0;
}
