.popup-backdrop_alert {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 9999;
    transition: all calc(0.3s * var(--bg-speedAnimation));
}
.popup-backdrop_alert.show_alert {
    background: rgba(0, 0, 0, 0.4);
}

/* Popup box */
.popup-box_alert {
    background: var(--bg-itemBackground);
    color: var(--bg-color);
    border-radius: 30px;
    padding: 20px;
    width: 70%;
    max-width: 300px;
    text-align: center;
    position: absolute;
    bottom: calc(30px + var(--nav-size) - 7px);
    transform: translateY(150%);
    transition: transform calc(0.45s * var(--bg-speedAnimation)), filter calc(0.3s * var(--bg-speedAnimation));
    filter: blur(calc(var(--bg-advancedBlur) * 2));
}
.popup-box_alert.show_alert {
    transition: transform calc(0.45s * var(--bg-speedAnimation)) cubic-bezier(0.35, 1.2, 0.47, 1),
        filter calc(0.3s * var(--bg-speedAnimation));
    transform: translateY(0);
    filter: none;
}

.popup-message_alert {
    font-size: 12px;
    margin-bottom: 15px;
    font-family: "Noto sans", sans-serif;
    font-weight: bold;
}

/* Buttons */
.popup-btn_alert {
    padding: 10px 0;
    border-radius: 50px;
    font-weight: bold;
    font-size: 12px;
    border: 3px solid var(--bg-color);
    background: var(--bg-itemBackground);
    cursor: pointer;
    width: 100%;
    transition: opacity calc(0.2s * var(--bg-speedAnimation));
    font-family: "Noto sans", sans-serif;
    font-weight: bold;
    color: var(--bg-color);
}
.popup-btn_alert:active {
    opacity: 0.5;
}

.popup-btn_alert:not(:last-child) {
    margin-bottom: 8px;
}

.popup-btn_alert.secondary_alert {
    border: none;
    color: var(--bg-color);
    background: transparent;
}

.popup-input_alert {
    position: relative; /* vẫn giữ trong box_alert */
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    background: var(--bg-appbackground);
    padding-bottom: 10px;
    padding-top: 7px;
    border-radius: 17px;
}

.popup-input_alert input {
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: "Noto sans", sans-serif;
    color: gray;
    text-align: left;
    pointer-events: none;
}

.popup-input_alert input.editable {
    pointer-events: auto;
    border: none;
    border-bottom: 6px solid gray;
    outline: none;
    max-width: 85%;
    color: gray;
}

/* system toast */
.system-toast {
    position: absolute;
    display: flex;
    top: 45px;
    left: 50%;
    transform: translateX(-50%) translateY(-80px) scale(0.8);
    color: var(--bg-color);
    padding: 12px;
    border-radius: 13px;
    font-size: 11px;
    z-index: 10012310;
    opacity: 0;
    pointer-events: none;
    font-family: "Noto sans", sans-serif;
    text-align: center;
    max-width: none;
    transition: all calc(0.4s * var(--bg-speedAnimation)), transform 0s ease calc(0.4s * var(--bg-speedAnimation)),
        scale calc(0.4s * var(--bg-speedAnimation)), filter calc(0.3s * var(--bg-speedAnimation));
    filter: blur(calc(var(--bg-advancedBlur) * 3));
    transform-origin: center;
}

.system-toast.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
    transition: all calc(0.4s * var(--bg-speedAnimation)) cubic-bezier(0.06, 0.77, 0.22, 0.96),
        filter calc(0.4s * var(--bg-speedAnimation));
    filter: none;
}
