.calculator_calc {
  width: 320px;
  padding: 20px;
}
.display_calc {
  position: absolute;
  top: 150px;
  height: 90px;
  width: 70%;
  text-align: right;
  padding: 15px;
  font-size: 2rem;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow-x: auto;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  color: white;
}
.buttons_calc {
  position: absolute;
  top: 280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.buttons_calc_preview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  scale: 0.4;
  position: absolute;
  top: 0px;
}
.btn_calc {
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  font-size: 1.4rem;
  cursor: pointer;
  background: #f3f3f3;
  transition: background 0.2s;
  font-weight: 800;
  font-family: "Lato", sans-serif;
  color: #353535;
}
.btn_calc:hover {
  background: #e0e0e0;
}
.orange_calc {
  background: #fbc4ab;
  color: #d84315;
}
.equal_calc {
  background: #f0625d;
  color: white;
  font-weight: bold;
}
.gray_calc {
  color: #d84315;
}
