.ani_fingerprint2 {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    bottom: 100px;
    left: 50%;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.ani_fingerprint2.x2_5 {
    height: calc(55px * 2.5);
    width: calc(55px * 2.5);
}
